@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

*{
  margin:0;
  padding:0;
}

/* DZIEŃ */

#content{
  width:100%;
  height:80vh;
  margin:0;
  background: rgb(26,67,144);
  background: linear-gradient(180deg, rgba(26,67,144,1) 0%, rgba(48,106,216,1) 100%);
  font-family: 'Nunito';
  font-size: 400;
  color:#fff;
}

.row{
  color:#fff;
}

#timezone{
  position:absolute;
  height: 100px;
  width: 100%;
}

#timezone img{
  width:100px;
  height: 100px;
  position: absolute;
  top:150px;
  left:5px;
}

#sunrise{
  left:20px;
  top:255px;
  position: absolute;
  font-size: 18px;
  color:#fff;
}

#sunset{
  right:20px;
  top:255px;
  position: absolute;
  font-size: 18px;
  text-align: right;
  color:#fff;
}

#terrain{
  width:100%;
  height: 20vh;
  background-color: rgba(48,106,216,1);
}

form{
  background-color: #12316b;
  border-radius: 15px;
  width: 305px;
  margin-left: auto;
  margin-right: auto;
  margin-top:200px;
  border-radius:20px;
  height: 40px;
  opacity: .2;
}

form:hover{
  opacity: 1;
}

form:active{
  opacity: 1;
}

input[type=text]{
	border:0;
	font-size:18px;
	box-sizing:border-box;
  height: 30px;
  width: 250px;
	outline:none;
  background-color: #12316b;
  margin-left: 10px;
  line-height: 40px;
  border-radius: 20px;
  padding: 0 0 0 5px;
}

input[type=text]:focus{
	border:0;
}

button[type=submit]{
  border:0;
  background-color: #12316b;
  margin-left: 5px;
}

button[type=submit] i{
  font-size: 20px;
  line-height: 40px;
}

#country{
  text-align: center;
  font-size: 50px;
}

#country img{
  width:60px;
  height: 50px;
  margin-bottom: 10px;
}

.weather{
  margin-top:20px;
}

#temp{
  text-align: center;;
}

#temp_currently{
  font-size: 45px;

}

#temp_max_min{
  font-size: 20px;

}

#description{
  font-size: 25px;

}

#visibility{
  background-color: #fff;
  border-radius: 5px;
  color:#000;
  margin-bottom: 15px;
}

#clouds{
  background-color: #fff;
  border-radius: 5px;
  color:#000;
}

#wind_speed{
  background-color: #fff;
  border-radius: 5px;
  color:#000;
  margin-bottom: 15px;
}

#wind_deg{
  background-color: #fff;
  border-radius: 5px;
  color:#000;
}

#deg{

}

#pressure{
  background-color: #fff;
  border-radius: 5px;
  color:#000;
  margin-bottom: 15px;
}

#humidity{
  background-color: #fff;
  border-radius: 5px;
  color:#000;
}

#feels{
  background-color: #fff;
  border-radius: 5px;
  color:#000;
}

#temp_min{
  background-color: #fff;
  border-radius: 5px;
  color:#000;
  margin-bottom: 15px;
}

#temp_max{
  background-color: #fff;
  border-radius: 5px;
  color:#000;
}

.hill-left{
  position:absolute;
  bottom:0;
  left:0;
  width: 0;
  height: 0;
  border-bottom: 250px solid green;
  border-right: 1400px solid transparent;
}

.hill-right{
  position:absolute;
  bottom:0;
  right:0;
  width: 0;
  height: 0;
  border-bottom: 250px solid green;
  border-left: 700px solid transparent;
}

/* NOC */

#content2{
  width:100%;
  height: 80vh;
  margin:0;
  background: rgb(22,20,61);
  background: linear-gradient(180deg, rgba(22,20,61,1) 0%, rgba(32,37,121,1) 94%);
  font-family: 'Nunito';
  font-size: 400;
}

#terrain2{
  width:100%;
  height: 20vh;
  background-color: rgba(32,37,121,1);
}

